@import "tailwindcss";

@variant dark (&:is(.dark *));
:root {
  --background: var(--color-gray-50);
  --foreground: var(--color-gray-950);
   --color-primary: #5044e5;
}

.dark {
  --background: var(--color-gray-950);
  --foreground: #ededed;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary); 
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
@layer base {
  /* Chrome, Edge, and Safari */
  ::-webkit-scrollbar {
    width: 8px; /* This sets the width */
  }

  ::-webkit-scrollbar-track {
    background: transparent; /* Makes the track invisible */
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-700/50 rounded-full; /* Subtle dark color */
    border: 2px solid transparent; /* Creates "padding" around the thumb */
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-600; /* Brightens slightly on hover */
  }

  /* Firefox */
  * {
    scrollbar-width: thin; /* Options: auto, thin, none */
    scrollbar-color: theme('colors.zinc.700') transparent;
  }
}
@layer components {
  button {
    @apply cursor-pointer transition-transform hover:scale-[1.03]
  }
  .icon_hover {
    @apply p-2 rounded-full hover:bg-slate-200 dark:hover:bg-slate-700 cursor-pointer transition-colors;

 }
 .grid-item {
  @apply bg-slate-50 w-full min-h-30 dark:bg-slate-950 rounded-lg p-3
 }
 .mini-icon {
  @apply cursor-pointer transition-transform hover:scale-105 hover:bg-slate-300 dark:hover:bg-slate-700 text-[0.6rem] dark:text-slate-300 text-slate-600 bg-slate-200 flex items-center gap-x-1 dark:bg-slate-800 p-1.5 rounded-full
 }
 .low-contrast {
   @apply text-gray-600 dark:text-gray-400;
 }
 .tooltip {
  @apply absolute cursor-pointer left-full ml-2 bg-slate-300 text-slate-950 dark:bg-slate-800 dark:text-white text-xs rounded-md px-2 py-1 whitespace-nowrap opacity-0 pointer-events-none transition-opacity group-hover:opacity-100;
 }

 }
.active_dot {
  animation: beep 3s infinite;
}

@keyframes beep {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.26);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}